.work-container {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;

    .bg-pin-trigger {
        height: 200vh;
        position: relative;
        // margin-top: -200vh;
    }

    .work-pinned-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        // background-image: 'url(example)';
        // background-size: 'cover';
        // background-position: 'center';
        background-color: red;
        z-index: -1;
        text-align: right;
    }

    .work-experience-container {
        position: relative;
        height: 200vh;
    }

    .entry {
        border: 2px solid black;
        height: 300px;

        &:nth-child(2) {
            background-color: black;
        }

        &:nth-child(3) {
            background-color: rgb(46, 46, 46);
        }

        &:nth-child(4) {
            background-color: rgb(136, 135, 135);
        }

        &:nth-child(5) {
            background-color: rgb(230, 138, 138);
        }

        &:nth-child(6) {
            background-color: rgb(255, 255, 255);
        }
    }

    .tab {
        border-bottom: 2px dashed green;
        height: 50px;
        display: flex;
        align-items: center;
    }

    .tab-label {
        margin-left: 30px;
    }
}