@import '../../styles/variables.scss';

.work-history-container {
    position: relative;
    display: flex;
    flex-direction: column;

    .container p {
        text-align: center;
        position: relative;
    }

    .section-header {
        display: inline-block;
        font-family: var(--font-primary);
        font-size: 15vw;
    }
}