@import '../../styles/variables.scss';

.work-history-container {
    position: relative;

    .background-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        object-fit: cover;
    }

    .color-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--green);
        mix-blend-mode: color;
        pointer-events: none;
    }

    .header-text {
        display: inline-block;
        font-family: var(--font-primary);
        font-size: 15vw;
    }

    .spacer {
        position: relative;
        height: 100vh;
    }

    .header-section {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        text-align: center;
        background-color: #010101;
    }

    .sapling,
    .plant,
    .ground,
    .rocks,
    .roots {
        position: absolute;
        width: 100vw;
        object-fit: cover;
        object-position: top center;
    }

    .plant {
        bottom: -24px;
        left: 0;
    }

    .sapling {
        bottom: 8vh;
        left: 0;
    }

    .ground {
        bottom: 0;
        left: 0;
        height: 10vh;
        object-fit: cover;
        object-position: top center;
    }

    .rocks {
        bottom: 0;
        left: 0;
        transform: translateY(100%) translateY(-2vh);
    }

    .roots {
        width: 25%;
        bottom: 0;
        left: 50%;
        transform: translateY(100%) translateY(-8vh) translateX(-50%) translateX(4vw);
    }

    .timeline-section {
        width: 100vw;
        height: 200vh;
        background-color: var(--dark);
    }
}