@import "../../styles/placeholders.scss";

$animationLength: 4s;

.loading-screen-container {
  position: fixed;
  width: 100svw;
  height: 100svh;
  z-index: 900;
  background-color: rgba(var(--dark-blue-rgb), 1);
  animation: fadeBackground 0.4s $animationLength forwards;
  pointer-events: none;

  .intro-bar {
    @extend %glitch-effect;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10svh;
    height: calc(100svh / 5);
    width: 100%;
    color: rgba(var(--orange-rgb), 1);
    background-color: var(--dark-blue);

    span {
      position: absolute;
    }

    &:not(:first-child) {
      border-top: 5px solid rgba(var(--orange-rgb), 1);
    }

    &:nth-child(even) {
      transform: translateX(100%);
    }

    &:nth-child(odd) {
      transform: translateX(-100%);
    }

    animation: translateInRight $animationLength
        cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards,
      fadeBackground 0.5s $animationLength forwards,
      fadeOut 0.8s ($animationLength + 1s) forwards;

    &:nth-child(odd) {
      animation: translateInLeft $animationLength
          cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards,
        fadeBackground 0.5s ($animationLength + 1s) forwards,
        fadeBorder 0.5s ($animationLength + 1s) forwards,
        fadeOut 0.8s ($animationLength + 2s) forwards;
    }

    &:nth-child(3) {
      animation: translateInLeft $animationLength
          cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards,
        fadeBackground 0.5s ($animationLength + 1s) forwards,
        fadeBorder 0.5s ($animationLength + 1s) forwards,
        slideOut 3s ($animationLength + 3s) forwards;
    }
  }

  // #region __________ ANIMATIONS __________
  @keyframes slideOut {
    0% {
      transform: scale(1) translateX(0);
      opacity: 1;
    }
    25% {
      transform: scale(0.3) translateX(0);
      opacity: 0.5;
    }
    100% {
      opacity: 0.5;
      transform: scale(0.3) translateX(-300svw);
    }
  }

  @keyframes fadeBackground {
    from {
      background-color: rgba(var(--dark-blue-rgb), 1);
    }
    to {
      background-color: rgba(var(--dark-blue-rgb), 0);
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes fadeBorder {
    from {
      border-color: rgba(var(--orange-rgb), 1);
    }
    to {
      border-color: rgba(var(--orange-rgb), 0);
    }
  }

  @keyframes translateInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  @keyframes translateInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  // #endregion END ANIMATIONS  ¦̵̱ ̵̱ ̵̱ ̵̱ ̵̱(̢ ̡͇̅└͇̅┘͇̅ (▤8כ−◦
}
