@import "../../styles/placeholders.scss";

$animationLength: 4s;

.center-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: clamp(2rem, 10svh, 20svw);
  color: rgba(var(--orange-rgb), 1);
  animation: slideOut 5s ($animationLength + 3s) linear forwards;
  transform: translate(-50%, -50%);
  z-index: 901;
}

.loading-screen-container {
  position: fixed;
  width: 100svw;
  height: 100svh;
  z-index: 900;
  background-color: rgba(var(--dark-blue-rgb), 1);
  animation: fadeBackground 0.4s $animationLength forwards;
  pointer-events: none;

  .intro-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(2rem, 5svh, 10svw);
    height: calc(100svh / 5);
    width: 100%;
    color: rgba(var(--orange-rgb), 1);
    background-color: var(--dark-blue);

    span {
      position: absolute;
    }

    &:not(:first-child) {
      border-top: 5px solid rgba(var(--orange-rgb), 1);
    }

    &:nth-child(even) {
      transform: translateX(100%);
    }

    &:nth-child(odd) {
      transform: translateX(-100%);
    }

    &:nth-child(3) {
      span {
        display: none;
      }
    }

    animation: translateInRight $animationLength
        cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards,
      fadeBackground 0.5s ($animationLength + 1s) forwards,
      translateInLeft 0.6s ($animationLength + 1.4s) ease-in forwards reverse;

    &:nth-child(odd) {
      animation: translateInLeft $animationLength
          cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards,
        fadeBackground 0.5s $animationLength forwards,
        translateInRight 0.6s ($animationLength + 1.4s) ease-in forwards reverse;
    }
  }

  @keyframes slideOut {
    0% {
      transform: translate(-50%, -50%);
      opacity: 1;
      font-size: clamp(2rem, 10svh, 20svw);
    }
    15% {
      transform: translate(-50%, -50%);
      opacity: 0.5;
      z-index: 1;
      font-size: clamp(0.5rem, 1.2rem, 20svw);
    }
    100% {
      opacity: 0.5;
      transform: translate(-300svw, -50%);
      font-size: clamp(0.5rem, 1.2rem, 20svw);
      z-index: 1;
    }
  }

  @keyframes fadeBackground {
    from {
      background-color: rgba(var(--dark-blue-rgb), 1);
    }
    to {
      background-color: rgba(var(--dark-blue-rgb), 0);
    }
  }

  @keyframes translateInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  @keyframes moveRight {
    from {
      text-align: center;
    }
    to {
      text-align: right;
    }
  }

  @keyframes translateInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
}
