.gradient-canvas-container {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .gradient-canvas {
        pointer-events: none;
        width: 100%;
        height: 100%;
    }

    .gradient-canvas {
        --gradient-color-1: #3a3a3a;
        --gradient-color-2: var(--dark);
        --gradient-color-3: #1a1a1a;
        --gradient-color-4: var(--dark);
        ;
    }
}