.gradient-canvas-container {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;

    .gradient-canvas {
        pointer-events: none;
        width: 100%;
        height: 100%;
        opacity: 0.28;
    }

    .gradient-canvas {
        --gradient-color-1: var(--green);
        --gradient-color-2: var(--orange);
        --gradient-color-3: var(--blue);
        --gradient-color-4: #663399;
        ;
    }
}