$size-xs: 480px; // Mobile First (portrait phones)
$size-sm: 768px; // Small devices (landscape phones and tablets)
$size-md: 1024px; // Medium devices (tablets and small laptops)
$size-lg: 1280px; // Large devices (laptops and desktops) 
$size-xl: 1440px; // Extra-large devices (4K displays)