// HEX Colors
$green: #86C05A;
$blue: #429A96;
$purple: #8A52B3;
$yellow: #E4BA52;
$black: #272727;
$white: #E2E4D0;

// HSL Colors
$green-hsl: hsla(84, 45%, 58%, 1);
$blue-hsl: hsla(175, 39%, 43%, 1);
$purple-hsl: hsla(272, 44%, 52%, 1);
$yellow-hsl: hsla(46, 73%, 61%, 1);
$black-hsl: hsla(0, 0%, 15%, 1);
$white-hsl: hsla(66, 27%, 85%, 1);

// RGB Colors
$green-rgb: rgba(134, 192, 90, 1);
$blue-rgb: rgba(66, 154, 150, 1);
$purple-rgb: rgba(138, 82, 179, 1);
$yellow-rgb: rgba(228, 186, 82, 1);
$black-rgb: rgba(39, 39, 39, 1);
$white-rgb: rgba(226, 228, 208, 1);