body {
    margin: 0;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    appearance: none;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: none;
    line-height: normal;
    cursor: pointer;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}