.skills-container {
    margin: 0 auto;
    height: 80svh;
    display: flex;
    flex-direction: column;
    background-color: var(--light);
    padding: 10px;
    border-top: 1px solid var(--orange);

    @media only screen and (max-width: 768px) and (orientation: landscape) {
        height: auto;
    }

    .marque {
        position: absolute;
    }

    .marque-spacer {
        font-size: 5rem;
        font-family: var(--font-primary);
        opacity: 0;
    }

    .scroll-text {
        color: var(--orange);
        font-size: 5rem;
        font-family: var(--font-primary);
    }

    .input-wrapper {
        position: relative;

        .search-input {
            height: 60px;
            padding: 10px;
            margin-bottom: 10px;
            width: 100%;
            background-color: transparent;
            border: 4px solid var(--orange);
            outline: none;
            font-size: 1.6rem;
            font-family: var(--font-primary);
            color: var(--orange);

            &::-webkit-input-placeholder {
                color: var(--orange);
            }

            &::-moz-placeholder {
                color: var(--orange);
            }

            &:-ms-input-placeholder {
                color: var(--orange);
            }

            &::-ms-input-placeholder {
                color: var(--orange);
            }
        }

        .suggestions-list {
            position: absolute;
            width: 100%;
            top: 60px;
            background-color: var(--orange);
            color: var(--light);
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                border-bottom: 1px solid var(--light);
                padding-left: 10px;
                cursor: pointer;
                letter-spacing: 0.1rem;
                will-change: letter-spacing;
                transition: letter-spacing 0.3s ease-out;

                &:hover {
                    font-weight: bold;
                    letter-spacing: 0.5rem;
                    color: var(--green);
                }
            }
        }
    }

    .wrapper {
        display: flex;
        flex-grow: 1;
        margin-bottom: 10px;
        overflow: hidden;

        .tags-container {
            display: flex;
            flex-direction: column;
            border-right: 1px solid var(--orange);
            padding-right: 10px;
            margin-right: 10px;
            flex-shrink: 0;

            .tag {
                padding: 5px 10px;
                border: 1px solid var(--orange);
                border-radius: 3px;
                font-size: 0.85rem;
                color: var(--orange);
                margin-bottom: 10px;
                cursor: pointer;
                text-align: center;
                text-transform: uppercase;
            }

            .selected {
                border: none;
                background-color: var(--orange);
                color: var(--light);
            }
        }

        .skills-list {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            justify-content: flex-start;
            overflow-y: scroll;
            width: 100%;
            padding-right: 10px;
            scrollbar-width: thin;
            scrollbar-color: var(--orange) transparent;
            scrollbar-gutter: stable;
            will-change: transform;

            &.completed {
                transform: translateY(0px) !important;
            }

            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--orange);
                border-radius: 10px;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
            }

            .pill {
                color: var(--orange);
                font-size: 0.75rem;
                padding: 2px 8px 1px;
                margin: 5px;
                border-radius: 20px;
                background-color: rgba(var(--orange-rgb), 0.1);
                border: 1px solid var(--orange);
            }

            .no-results {
                color: var(--orange);
            }
        }
    }

    .result-counter {
        min-height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid var(--orange);
        font-size: 1.4rem;
        font-family: var(--font-primary);
        color: var(--orange);
    }
}