.tempabout {
    background-color: var(--light);
}

.about-container {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 20;

    .about-sticky-bg-container {
        position: relative;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .about-bg-img {
        position: sticky;
        top: 0;
        height: 100vh;
        width: 100%;
        object-fit: cover;
        transform-origin: center;
    }

    .about-grid {
        display: grid;
        width: 100%;
        margin-top: -100vh;
    }

    .about-headline {
        display: flex;
        flex-direction: column;
        height: 100svh;
        justify-content: center;
        letter-spacing: .5em;
        line-height: .8em;
        position: relative;
        text-align: center;
        line-height: .8em;
        color: var(--light);
        font-size: 8.3333333333vw;
    }

    .seeking-opportunities {
        text-align: center;
        color: var(--light);
        z-index: 20;
        font-size: 3.3333333333vw;
        padding-bottom: 20vh;
    }

    .about-textbox {
        display: flex;
        flex-direction: column;
        color: var(--light);
        z-index: 1;
        text-align: justify;
        cursor: default;
        padding-bottom: 20vh;


        p {
            font-size: 1.2rem;
        }
    }
}