.about-container {
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--light);
    padding-top: 50vh;
    height: fit-content;


    .about-bg-img {
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .about-content {
        position: relative;
    }

    .headline-text {
        margin: 0;
        text-align: center;
        font-size: 9.3333333333vw;
        line-height: .8rem;
        letter-spacing: .3rem;
        font-family: var(--font-secondary);
    }

    .seeking-opportunities {
        text-align: center;
        color: var(--light);
        z-index: 20;
        padding: 10vh 0;
    }

    .about-bio {
        display: flex;
        flex-direction: column;
        color: var(--light);
        cursor: default;
        margin-top: 30vh;

        p {
            font-size: 0.9rem;
        }

        .typewriter-text {
            position: relative;
            display: inline-block;
            text-shadow: 0 0 3px red;
        }

        .typewriter-text::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            white-space: nowrap;
        }
    }
}