    .fullscreen-video-container {
        position: absolute;
        z-index: -1;
        pointer-events: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .video-overlay {
        position: absolute;
        pointer-events: none;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: black, $alpha: 0.5);
        filter: blur(6px);
        mix-blend-mode: color-dodge;
    }

    .fullscreen-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }