$entry-padding: 10px;

.entry {
  position: relative;
  width: 100%;
  min-height: 300px;
  margin: 0;
  background-color: var(--light);
  color: var(--dark);

  .tab,
  .contents {
    padding: 0px $entry-padding;
  }

  .tab {
    position: relative;
    border-top: 1px dashed var(--dark);
    height: 70px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    pointer-events: auto;

    @media (min-width: 1024px) {
      height: 90px;
      padding-left: 80px;
    }

    .date {
      position: absolute;
      top: 0px;
      left: 0px;
      font-size: 0.65rem;
      padding-left: $entry-padding;

      @media (min-width: 1024px) {
        padding-left: 80px;
      }
    }

    .tab-label {
      font-weight: 800;
      font-size: 1.4rem;
      margin-bottom: 5px;
      margin-top: 0;
    }
  }

  .contents {
    position: relative;
    background-color: var(--light);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: $entry-padding;

    p {
      font-size: 0.8rem;
      line-height: 1.1rem;
      font-weight: 500;
    }

    .work-link {
      padding: 5px 10px;
      border: 1px solid var(--dark);
      border-radius: 3px;
      font-size: 0.85rem;
      text-decoration: none;
      display: block;
      width: fit-content;
      color: var(--dark);
      background-color: white;
    }

    .scene-container {
      overflow: hidden;
      cursor: pointer;
      position: relative;
      width: 100%;
      background-color: var(--light);
      height: 200px;
      margin: 0 auto;
      margin-top: 20px;
      max-width: 700px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s;

      &:hover {
        box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
      }

      .hidden {
        transform: translate(60px, -60px);
        transition: 1s ease;
      }

      .corner {
        pointer-events: none;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 50px;
        height: 50px;
        z-index: 1;
        background-color: var(--orange);
        clip-path: polygon(100% 0, 0 0, 100% 100%);
        text-align: right;
        img {
          margin-top: 7px;
          margin-right: 8px;
        }
      }
    }
  }
}
