@import '../../styles/variables.scss';

.round-mouse-container {
    position: relative;
    display: inline-block;
    z-index: 1;
    width: 100%;

    *,
    >* {
        cursor: none;
    }

    .round-mouse-cursor {
        position: fixed;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        pointer-events: none;
        mix-blend-mode: difference;
        z-index: 9000;
        background-color: rgba(var(--light-rgb), 0);
        transform: translate(-50%, -50%) scale(0);
        animation: roundMouseShow $mouseDur var(--ease-out) forwards;

        @media only screen and (hover: none) and (pointer: coarse) {
            display: none;
        }
    }

    .round-mouse-cursor.hidden {
        background-color: rgba(var(--light-rgb), 1);
        transform: translate(-50%, -50%) scale(1);
        animation: roundMouseHide $mouseDur var(--ease-out) forwards;
    }


    @keyframes roundMouseHide {

        from {
            background-color: rgba(var(--light-rgb), 1);
            transform: translate(-50%, -50%) scale(1);
        }

        to {
            background-color: rgba(var(--light-rgb), 0);
            transform: translate(-50%, -50%) scale(0);
        }
    }

    @keyframes roundMouseShow {

        from {
            background-color: rgba(var(--light-rgb), 0);
            transform: translate(-50%, -50%) scale(0);
        }

        to {
            background-color: rgba(var(--light-rgb), 1);
            transform: translate(-50%, -50%) scale(1);
        }
    }
}