@import './styles/container.scss';
@import './styles/lenis.scss';
@import './styles/normalize.scss';
@import './styles/scrollbar.scss';
@import './styles/typography.scss';
@import './styles/variables.scss';

body,
html {
    height: 100%;
    overflow-x: hidden;
}

.glass {
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.dark-glass {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}