@import './styles/container.scss';
@import './styles/lenis.scss';
@import './styles/normalize.scss';
@import './styles/scrollbar.scss';
@import './styles/typography.scss';
@import './styles/variables.scss';

body,
html {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    background-color: var(--background);
}

.glass {
    // background-color: rgba(255, 255, 255, 0.08);
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background-color: rgba($color: white, $alpha: 0.1);
    box-shadow:
        0 4px 30px rgba(0, 0, 0, 0.1),
        inset 0 0 3px 2px rgba($color: white, $alpha: 0.1),
        inset 2px -3px 2px 1px rgba($color: gray, $alpha: 0.08),
        inset 2px -2px 2px 0px rgba($color: white, $alpha: 0.1),
        inset -2px 2px 2px 2px rgba($color: black, $alpha: 0.08),
}

.dark-glass {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.glow {
    color: var(--light);
    animation: glow 4s ease-in-out infinite alternate;
    text-shadow: 0 0 10px var(--green), 0 0 15px var(--green);
}

@keyframes glow {

    0%,
    75% {
        text-shadow: 0 0 10px var(--green), 0 0 15px var(--green);
    }

    100% {
        text-shadow: 0 0 10px var(--green), 0 0 15px var(--green), 0 0 20px var(--green);
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 22px;
    }
}

@media (prefers-reduced-motion: reduce) {

    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}