@import '../../styles/placeholders.scss';

.nav-container {

    .full-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 25;
        height: 60px;


        padding: 10px;

        @media (min-width: 500px) {
            padding: 0 2rem;
        }

        .logo {
            position: relative;
            height: 30px;
        }

        .links {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .nav-link {
            padding: 5px 8px;
            text-decoration: none;
            position: relative;
            color: var(--green);

            margin-left: 5px;
            font-size: 0.87rem;

            @media (min-width: 500px) {
                margin-left: 10px;
                font-size: 1.3rem;
            }

            span {
                position: absolute;
                top: 5px;
                left: 4px;
                opacity: 0;
            }
        }

        .nav-link:hover {
            @extend %glitch-effect;
            color: var(--orange);

            span {
                opacity: 1;
            }
        }
    }

    .menu-nav {
        position: fixed;
        top: 10px;
        right: 10px;
        width: 60px;
        height: 60px;
        padding: 15px;
        cursor: pointer;
        border-radius: 8px;
        outline: none;
        z-index: 899;

        .line {
            position: absolute;
            width: 28px;
            height: 4px;
            background-color: var(--green);
            border-radius: 3px;
            box-shadow: 0px 1px 1px rgba(54, 54, 54, 0.3);
        }

        .top {
            top: 17px;
        }

        .middle {
            top: 27px;
        }

        .bottom {
            top: 37px;
        }
    }

    .drawer {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 75svw;
        z-index: 900;
        border-color: var(--green);
    }

    .overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(var(--dark-rgb), 0.3);
        z-index: 899;
    }

    .close-button {
        position: fixed;
        top: 30px;
        left: calc(12.5svw - 30px);
        width: 100%;
        display: flex;
        justify-content: flex-start;
        width: 60px;
        height: 60px;
        z-index: 899;
        border-radius: 8px;

        &:hover {
            @extend %glitch-effect;
            color: var(--orange);
        }

        &.drawer-left {
            justify-content: flex-end;
            left: calc(87.5svw - 30px);
        }

        .x {
            width: 60px;
            height: 60px;
            border-radius: 8px;
        }

        svg {
            filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
            color: var(--green);
        }
    }

    .x-glass-hack {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        border-radius: 8px;
    }

}