@import '../../styles/variables.scss';

// region ▂▃▅▇█▓▒░    CONSTANTS    ░▒▓█▇▅▃▂
.playground-link {
    position: fixed;
    bottom: 0;
    left: 0;
    background: black;
    z-index: 9001;
    height: 40px;
    width: 40px;
    color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
}

// endregion END CONSTANTS  ¦̵̱ ̵̱ ̵̱ ̵̱ ̵̱(̢ ̡͇̅└͇̅┘͇̅ (▤8כ−◦


.playground-container {
    position: relative;
    // __________ CODE BELOW HERE __________









}