@import '../../styles/variables.scss';

.playground-link {
    position: fixed;
    bottom: 0;
    left: 0;
    background: black;
    z-index: 9001;
    height: 40px;
    width: 40px;
    color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
}

#temp .teko {
    font-weight: 900;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#temp .anton {
    font-weight: 900;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#temp .bebas {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 900;
    font-style: normal;
}

#temp .teko {
    font-weight: 900;
}

.teko {
    font-weight: 900;
}

.teko {
    font-weight: 900;
}

.playground-container {

    width: 100%;
    position: relative;

    .lorem {}

    .container {
        position: relative;
        border-bottom: 2px solid blue;
    }


    .text {
        font-size: 4rem;
        position: sticky;
        top: 0;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    .temop {
        text-align: center;

        span,
        p {
            font-size: 5.5vw;
            font-weight: 1000;
            font-family: $font-primary;
        }

        .yo {
            font-size: 20vw;
        }
    }
}