@import "../../styles/variables.scss";

.playground-container {
  // __________ CODE BELOW HERE __________
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  .three-container {
    width: 100%;
    height: 300px;
    background-color: red;
    max-width: 700px;
    overflow: hidden;
  }

  h2 {
    margin: 5px;
  }
}

// #region __________ CONSTANTS __________
.playground-link {
  position: fixed;
  bottom: 0;
  left: 0;
  background: black;
  z-index: 9001;
  height: 40px;
  width: 40px;
  color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
}

.playground-container {
  background-color: wheat;
  position: relative;
  min-height: 100vh;
}

// endregion END CONSTANTS  ¦̵̱ ̵̱ ̵̱ ̵̱ ̵̱(̢ ̡͇̅└͇̅┘͇̅ (▤8כ−◦
